<html>
    <head>

    </head>

    <body>

        <form action="/upload/video" method="post" enctype="multipart/form-data">
            <input type="file" id="fileData" name="fileData" accept="video/mp4"/>
            <input  type="submit"/>
            
        </form>
    </body>
</html>