<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/@mux/mux-player"></script>
    </head>
    <body>
       

<mux-player
  stream-type="on-demand"
  playback-id="<%= playbackId %>"
  metadata-video-title="Test video title"
  metadata-viewer-user-id="user-id-007"
></mux-player> 
    </body>
</html>