<html>
    <head>
       <title><%= title %></title>
        
        <style>
            @import url("https://fonts.googleapis.com");
        @import url("https://fonts.gstatic.com");
        @import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Ubuntu:wght@500&display=swap");

        
        * {
            font-family: 'Fredoka One';
        }
            video {
                height: 75%;
               
            }

            video[poster] {
               width: 50%;
            }

            div.center {
                text-align: center;
            }
        </style>
    </head>
    <body>
        
        <div class="center">
            <h1><%= title %></h1>
        <video
   controls
   autoplay
   playsinline
   poster="<%= thumbnail %>"
  >
    <source src="<%= videoId %>"  />
    
   
  </video>
</div>
      
    </body>
</html>