<html>
    <head>
        <style>
            video {
              max-height: 750px;
            }
        </style>
    </head>
    <body>
        <video playsinline autoplay controls >
            <source src="<%= videoId %>">
        </video>
    </body>
</html>