<html>
    <head>
        <link href="https://vjs.zencdn.net/7.20.3/video-js.css" rel="stylesheet" />
        
        <style>
            video {
                width: max-content;
                height: max-content;
            }

            div.center {
                text-align: center;
            }
        </style>
    </head>
    <body>
        
        <div class="center">
            <h1><%= title %></h1>
        <video
   controls
   autoplay
   playsinline
   poster="<%= thumbnail %>"
  >
    <source src="<%= videoId %>"  />
    
   
  </video>
</div>
      
    </body>
</html>