<html>
    <head></head>
    <body>
        <h1>All the videos on the platform</h1>
        <% data.forEach(elm => { %>
            <a href=/video/<%= elm.slice(7) %>><%= elm.slice(7) %></a>
            <br />
            <br />
        <% }) %>
    </body>
</html>